@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito-Regular.ttf");
    font-weight: 400;
}
